---
name: "Sync README"

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: sync-readme
  cancel-in-progress: true

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Sync readme to dockerhub"
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.DOCKER_USERNAME }}/nezha-dashboard
          readme-filepath: ./README.md
          enable-url-completion: false
